<strong> Olá, {{ name }}</strong>
<p>Você tem uma encomenda disponível para retirada. Confira os detalhes abaixo:</p>
<p>
    <strong>Destinatário: </strong> {{ dest}} <br />
    <strong>Endereço: </strong> {{ address}}<br />
    <strong>Número: </strong> {{ address_number}}<br />
    <strong>Complemento: </strong> {{ address_complement}}<br />
    <strong>Cidade: </strong> {{city}}<br />
    <strong>Estado: </strong> {{ estado}}<br />
    <strong>CEP: </strong> {{ CEP}}<br />
</p>
